/* .MuiAppBar-root,
.MuiAppBar-colorPrimary,
.MuiAppBar-positionStatic,
.css-h1z843-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
} */
/* .ant-drawer-content-wrapper {
  width: 300px !important;
}

.iconDiv:hover {
  cursor: pointer;
} */
