.image_style {
  width: 65px;
  height: 65px;
  padding-bottom: 6px;
}

.image_div {
  display: grid;
  justify-items: center;
  width: 80px !important;
  margin-left: 20px;
}

.image_div:hover .image_style {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.allstores {
  font-weight: 700;
  line-height: 36px;
  font-size: 28px;
  font-family: sans-serif;
}

.priceButtonHome {
  width: auto !important;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  box-shadow: none;

  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.priceButtonHome:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  cursor: pointer;
}

.filterHeading {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.margin10 {
  margin-top: 10px;
}

.ant-slider-track {
  background-color: black !important;
}

.ant-slider-handle {
  border: 2px solid black !important;
  background-color: black !important;
  color: black !important;
}
.ant-slider-dot-active {
  border-color: white !important;
  background-color: white !important;
  color: white !important;
  height: 2px !important;
  width: 2px !important;
}

.ant-slider-dot {
  border-color: white !important;
  background-color: white !important;
  color: white !important;
}

.ant-radio-checked .ant-radio-inner {
  background-color: black !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: black !important;
}

.ant-radio-inner::after {
  background-color: white !important;
}

.restaurantimgSize {
  height: 130px;
  width: 382px;
}

.fav_icon {
  position: absolute;
  bottom: 6rem;
  left: 21.5rem;
  border-color: white;
  color: white;
}

.fav_icon_red {
  position: absolute;
  bottom: 6rem;
  left: 21.5rem;
  border-color: #e63e62;
  color: #e63e62;
}

.fav_icon_red {
  cursor: pointer;
}

.fav_icon:hover {
  fill: white;
  cursor: pointer;
}

.restaurantName {
  color: #000000;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-family: UberMoveText, sans-serif;
  font-weight: 500;
  text-overflow: ellipsis;
  line-height: 24px;
  font-size: 17px;
  margin-top: 10px;
}
