.image_style {
  width: 65px;
  height: 65px;
  padding-bottom: 6px;
}

.image_div {
  display: grid;
  justify-items: center;
}

.image_div:hover .image_style {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.allstores {
  font-weight: 700;
  line-height: 36px;
  font-size: 28px;
  font-family: sans-serif;
}

.priceButton {
  width: auto !important;
  margin-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  box-shadow: none;

  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.priceButton:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  cursor: pointer;
}
